@import "../../assets/scss/colors";
@import "../../assets/scss/mixins";

$img-margin-left: 1rem;

.weather {
  @include tile();

  p {
    color: $primary-fg;
    font-size: 1.5rem;
    padding: 0;
    margin: 0;
    width: auto;
    height: auto;
    animation: appear-p 900ms ease-in-out;
  }

  img {
    width: 2rem;
    height: 2rem;
    padding: 0;
    margin: 0 0 0 $img-margin-left;
    animation: appear-img 900ms ease-in-out;
  }

  p, img {
    opacity: 1;
    visibility: visible;

    &.loading {
      opacity: 0;
      visibility: hidden;
      height: 0;
      width: 0;
      padding: 0;
      margin: 0;
      animation: none;
    }
  }
}

@include appear-animation(appear-p, auto, auto, 0, 0);
@include appear-animation(appear-img, 2rem, 2rem, 0, 0 0 0 $img-margin-left);
