@import "../assets/colors";

.start {
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  background-color: $primary-bg;

  .row {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0;
    margin: .75rem 0;

    &.time {
        flex-direction: column;

        p {
            padding: 0;
            margin: 0;
            text-align: center;

            &:first-of-type {
                color: $primary-fg;
                font-size: 2rem;
            }

            &:last-of-type {
                color: $secondary-fg;
                font-size: 1.6rem;
            }
        }
    }

    &.search {
      justify-content: space-between;

      background-color: $secondary-bg;
      border: 1px solid $tertiary-bg;
      border-radius: 5rem;

      .input {
        color: $primary-fg;
        background-color: $transparent;
        border: none;
        outline: none;

        font-size: 1.25rem;
        padding: .75rem 0;
        margin: 0;
      }

      .icon {
        width: 1.8rem;
        height: 1.8rem;
        padding: 0;
        margin: 1rem;
        cursor: pointer;

        &:last-of-type {
          margin-right: 1.25rem;
        }
      }
    }
  }
}
