@import "../../styles";

.switch {
    @include row();
    padding: 0;
    margin: 0;

    .label {
        font-size: 1rem;
        margin: 0 .5rem 0 0;
    }

    .input {
        position: relative;
        width: 2.75rem;
        height: 1.4rem;
        padding: 0;
        margin: 0;
        border: none;
        border-radius: 1rem;
        cursor: pointer;
        background-color: $tertiary-bg;
        transition: background-color 150ms ease-in-out;

        .bubble {
            position: absolute;
            top: .2rem;
            left: .25rem;
            width: 1rem;
            height: 1rem;
            border: none;
            border-radius: 1rem;
            background-color: $secondary-bg;
            pointer-events: none;
            padding: 0;
            margin: 0;
            transition: left 150ms ease-in-out;
        }

        &.on {
            background-color: $accent;

            .bubble {
                left: 1.5rem;
            }
        }
    }

    &:not(:first-of-type) {
        margin-top: .5rem;
    }
}
