@import "../../styles";

.datetime {
  @include row();

  flex-direction: column;

  p {
    padding: 0;
    margin: 0;
    text-align: center;

    &.intro {
        color: $primary-fg;
        font-size: 2.5rem;
    }

    &.time {
      color: $primary-fg;
      font-size: 2rem;
    }

    &.date {
      color: $secondary-fg;
      font-size: 1.5rem;
    }
  }
}
