<div class="centered">
    <app-time
        *ngIf="settingsService.getSetting('enableIntro') ||
        settingsService.getSetting('enableTime') ||
        settingsService.getSetting('enableDate')"
    ></app-time>
    <app-search
        *ngIf="settingsService.getSetting('enableSearch')"
    ></app-search>

    <div class="row" *ngFor="let row of settingsService.getSetting('rows')">
        <div *ngFor="let tile of row">
            <app-weather *ngIf="tile.type === 'Weather'"></app-weather>
            <app-shortcut
                *ngIf="tile.type === 'Shortcut'"
                [link1]="tile.link1" [title1]="tile.title1" [icon1]="tile.icon1"
                [link2]="tile.link2" [title2]="tile.title2" [icon2]="tile.icon2"
            ></app-shortcut>
        </div>
    </div>
</div>
