@import "../../styles";

.settings {
  @include row();
  flex-direction: column;

  .section {
    @include row();
    flex-direction: column;
    width: 30vw;

    .title {
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
    }

    .br {
      width: 95%;
      height: .0625rem;
      padding: 0;
      margin: .75rem 0 .5rem 0;
      background-image: linear-gradient(90deg, $primary-bg, $tertiary-fg, $tertiary-fg, $tertiary-fg, $primary-bg);
      border: none;
      border-radius: 1rem;
    }

    &:not(:first-of-type) {
      margin-top: 1rem;
    }
  }
}
