<div class="centered settings">
    <div class="section">
        <p class="title">Introduction</p>
        <div class="br"></div>

        <app-switch
            label="Enable introduction"
            [value]="settingsService.getSetting('enableIntro')"
            (change)="settingsService.setSetting('enableIntro', $event)"
        ></app-switch>
        <div class="spacer"></div>
        <app-switch
            label="Enable greeting"
            [value]="settingsService.getSetting('enableGreeting')"
            [disabled]="!settingsService.getSetting('enableIntro')"
            (change)="settingsService.setSetting('enableGreeting', $event)"
        ></app-switch>
    </div>

    <div class="section">
        <p class="title">Time</p>
        <div class="br"></div>

        <app-switch
            label="Enable time"
            [value]="settingsService.getSetting('enableTime')"
            (change)="settingsService.setSetting('enableTime', $event)"
        ></app-switch>
        <div class="spacer"></div>
        <app-switch
            label="Show seconds"
            [value]="settingsService.getSetting('showSeconds')"
            [disabled]="!settingsService.getSetting('enableTime')"
            (change)="settingsService.setSetting('showSeconds', $event)"
        ></app-switch>
        <div class="spacer"></div>
        <app-select
            label="Hour format" [value]="settingsService.getSetting('hourFormat')"
            [options]="settingsService.OPTIONS['hourFormat']"
            [disabled]="!settingsService.getSetting('enableTime')"
            (change)="settingsService.setSetting('hourFormat', $event)"
        ></app-select>
    </div>

    <div class="section">
        <p class="title">Date</p>
        <div class="br"></div>

        <app-switch
            label="Enable date"
            [value]="settingsService.getSetting('enableDate')"
            (change)="settingsService.setSetting('enableDate', $event)"
        ></app-switch>
        <div class="spacer"></div>
        <app-select
            label="Day format" [value]="settingsService.getSetting('dayFormat')"
            [options]="settingsService.OPTIONS['dayFormat']"
            [disabled]="!settingsService.getSetting('enableDate')"
            (change)="settingsService.setSetting('dayFormat', $event)"
        ></app-select>
        <div class="spacer"></div>
        <app-select
            label="Month format" [value]="settingsService.getSetting('monthFormat')"
            [options]="settingsService.OPTIONS['monthFormat']"
            [disabled]="!settingsService.getSetting('enableDate')"
            (change)="settingsService.setSetting('monthFormat', $event)"
        ></app-select>
        <div class="spacer"></div>
        <app-select
            label="Year format" [value]="settingsService.getSetting('yearFormat')"
            [options]="settingsService.OPTIONS['yearFormat']"
            [disabled]="!settingsService.getSetting('enableDate')"
            (change)="settingsService.setSetting('yearFormat', $event)"
        ></app-select>
    </div>

    <div class="section row" *ngFor="let row of rows, let i = index">
        <p class="title">Row {{ i + 1 }}</p>
        <div class="br"></div>

        <div class="row">
            <div class="tile" *ngFor="let tile of settingsService.getSetting('row' + i.toString()); let ti = index">
                <p class="type">{{ getType(tile) }}</p>

                <div class="shortcuts" *ngIf="getType(tile) == 'Shortcut'">
                    <div class="shortcut" *ngIf="tile.link1 != undefined">
                        <img [src]="tile.icon1" alt="Favicon" class="icon" (click)="changeTile(i, ti, 'icon1')">
                        <p class="title" (click)="changeTile(i, ti, 'title1')">{{ tile.title1 }}</p>
                        <img src="/assets/images/link.svg" alt="Link" class="link" (click)="changeTile(i, ti, 'link1')">
                    </div>
                    <div class="shortcut" *ngIf="tile.link2 != undefined">
                        <img [src]="tile.icon2" alt="Favicon" class="icon" (click)="changeTile(i, ti, 'icon2')">
                        <p class="title" (click)="changeTile(i, ti, 'title2')">{{ tile.title2 }}</p>
                        <img src="/assets/images/link.svg" alt="Link" class="link" (click)="changeTile(i, ti, 'link2')">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
