<div class="centered settings">
    <div class="section">
        <p class="title">Date and Time</p>
        <div class="br"></div>
        <app-select label="Hour format" [value]="settingService.getSetting('hourFormat')"
                    [options]="['12 hour', '24 hour']"
                    (change)="settingService.setSetting('hourFormat', $event)"
        ></app-select>
        <div class="spacer"></div>
        <app-switch
            label="Show seconds"
            [value]="settingService.getSetting('showSeconds')"
            (change)="settingService.setSetting('showSeconds', $event)"
        ></app-switch>
    </div>

    <div class="section">
        <p class="title">Row 1</p>
        <div class="br"></div>
    </div>
</div>
